body {
  background-image: url("sheep.png");
  background-repeat: repeat;
}

ul li {
  list-style-type: none;
}

a {
  color: black;
}

h1 {
  font-size: 70px;
  padding: 0 0;
  display: inline;
  text-align: center;
  font-family: Snell Roundhand, cursive;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-family: century, serif;
}

h3 {
  display: inline;
  font-size: 14px;
  text-align: left;
  margin: 5px 0;
  display: inline;
}

h4 {
  font-size: 14px;
  text-align: left;
  padding: 0 0 10px 0;
}

a:visited {
  color: black;
}

p {
  font-size: 14px;
  padding: 0 0 10px 0;
}

#wrapper {
  width: 840px;
  margin: auto;
  margin-top: 20px;
  padding: 0 40px;
  background-color: white;
  font-family: century, serif;
}


#banner {
  padding: 20px 0;
}

#title {
  text-align: left;
  margin: 0 0 0 0;
}

#sortbar {
  clear: both;
}

#sortbar ul {
  padding: 10px 0 10px 0; margin: 0;
  border-top: 1px #000 dotted;
  border-bottom: 1px #000 dotted;
  font-size: 12px;
  text-align: center;
}

#sortbar ul li {
  display: inline;
  list-style-type: none;
  margin: 0 8px 0 8px;
}

#contents {
  padding: 40px 0;
}

.book-entry {
  clear: both;
  padding: 0px 0;
}

.title-author {
  font-size: 18px;
  display: inline;
  font-family: century, serif;
}

.year-display{
  font-size: 18px;
  display: inline;
  font-family: Snell Roundhand, cursive;
}

#pagestats {
  clear: both;
  border-top: 1px #000 dotted;
  padding: 20px 0;
}
