<!DOCTYPE html>
<html>
  <head>
    <title>The Soporific Book Club</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">


      <div id="banner">
        <div id="title">
          <h1>The Soporific Book Club</h1>
          <h2>Friends for Your Evening Hours</h2>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>
